  run-name: Upload build artifacts
  on:
    workflow_call: 
    workflow_dispatch: 
  jobs:
    upload-build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout branch
          uses: actions/checkout@v4
          with:
            ref: prod
            
        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:
            node-version: 18
            cache: 'npm'
              
        - name: Install and build source.
          run: |
            npm i
            npm run build
            
        - name: Get current date.
          id: date
          run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
            
        - name: Upload build artifacts
          uses: actions/upload-artifact@v3
          with:
            name: latest-build
            path: ./build
              